In [2]:
import pandas as pd
ipums_path = "nhis_00001.csv.gz"

In [3]:
df = pd.read_csv(ipums_path, low_memory=False)

df.head(3)

,YEAR,SERIAL,STRATA,PSU,NHISHID,PERNUM,NHISPID,HHX,SAMPWEIGHT,LONGWEIGHT,...,HEIGHT,WEIGHT,BMICALC,HINOTCOVE,HIPRIVATEE,HISTATEE,PCEMAILHPYR,PCACS,CVDDIAG,CVDTEST
0,2020,1,150,25,0002020H000002,1,0002020H00000210,H000002,5946.002,17605.5,...,66,230,37.1,1,2,10,NaN,NaN,1.0,1.0
1,2020,2,111,10,0002020H000003,1,0002020H00000310,H000003,6288.726,0.0,...,71,180,25.1,1,2,10,NaN,NaN,0.0,0.0
2,2020,3,133,3,0002020H000004,1,0002020H00000410,H000004,6083.271,0.0,...,64,155,26.6,1,2,10,NaN,NaN,0.0,0.0

In [4]:
rename_columns = {
    # 
    "YEAR": "year",
    "SERIAL": "serial_number",
    "STRATA": "sampling_strata",
    "PSU": "primary_sampling_unit",
    "NHISHID": "household_id",
    "PERNUM": "person_number",
    "NHISPID": "person_id",
    "HHX": "household_number",
    "RECTYPE": "record_type",         
    "ASTATFLG": "sample_adult_flag",   
    "CSTATFLG": "sample_child_flag",   
    # weights
    "SAMPWEIGHT": "sample_person_weight",
    "LONGWEIGHT": "longitudinal_weight",

    # demographics
    "SEX": "sex",
    "RACENEW": "race",
    "LANGHOMEOT": "non_english_at_home",

    # education
    "EDUC": "education_attainment",
    "MAXEDUC": "max_education_in_family",

    # health status 
    "HEALTH": "health_status",
    "HEIGHT": "height_inches",
    "WEIGHT": "weight_pounds",
    "BMICALC": "bmi",

    # insurance / access
    "HINOTCOVE": "health_insurance_coverage",
    "HIPRIVATEE": "private_insurance_coverage",
    "HISTATEE": "state_plan_insurance_coverage",
    "PCEMAILHPYR": "emailed_provider_past_12mo",
    "PCACS": "internet_access",

    # covid
    "CVDDIAG": "covid19_diagnosed_flag",
    "CVDTEST": "covid19_tested_flag",
}

In [5]:
df.rename(columns=rename_columns, inplace=True)

In [6]:
df.head(10)

,year,serial_number,sampling_strata,primary_sampling_unit,household_id,person_number,person_id,household_number,sample_person_weight,longitudinal_weight,...,height_inches,weight_pounds,bmi,health_insurance_coverage,private_insurance_coverage,state_plan_insurance_coverage,emailed_provider_past_12mo,internet_access,covid19_diagnosed_flag,covid19_tested_flag
0,2020,1,150,25,0002020H000002,1,0002020H00000210,H000002,5946.002,17605.50,...,66,230,37.1,1,2,10,NaN,NaN,1.0,1.0
1,2020,2,111,10,0002020H000003,1,0002020H00000310,H000003,6288.726,0.00,...,71,180,25.1,1,2,10,NaN,NaN,0.0,0.0
2,2020,3,133,3,0002020H000004,1,0002020H00000410,H000004,6083.271,0.00,...,64,155,26.6,1,2,10,NaN,NaN,0.0,0.0
3,2020,4,139,45,0002020H000007,1,0002020H00000710,H000007,11306.962,0.00,...,67,240,37.6,1,2,10,NaN,NaN,0.0,0.0
4,2020,5,130,21,0002020H000009,1,0002020H00000910,H000009,6471.818,19317.18,...,66,180,29.0,2,1,10,NaN,NaN,1.0,1.0
5,2020,6,131,2,0002020H000011,1,0002020H00001110,H000011,3121.049,13087.37,...,96,996,996.0,1,2,10,NaN,NaN,1.0,1.0
6,2020,7,128,27,0002020H000014,1,0002020H00001410,H000014,754.476,0.00,...,68,160,24.3,1,2,10,NaN,NaN,1.0,1.0
7,2020,8,123,22,0002020H000018,1,0002020H00001810,H000018,5120.231,0.00,...,64,160,27.5,1,1,10,NaN,NaN,0.0,0.0
8,2020,9,122,11,0002020H000019,1,0002020H00001910,H000019,2682.171,0.00,...,64,160,27.5,2,1,10,NaN,NaN,1.0,2.0
9,2020,10,149,18,0002020H000022,1,0002020H00002210,H000022,1738.221,16060.22,...,67,155,24.3,1,2,10,NaN,NaN,1.0,1.0

In [7]:
print(df.columns)

Index(['year', 'serial_number', 'sampling_strata', 'primary_sampling_unit',
       'household_id', 'person_number', 'person_id', 'household_number',
       'sample_person_weight', 'longitudinal_weight', 'PARTWEIGHT',
       'sample_adult_flag', 'sample_child_flag', 'AGE', 'sex', 'race',
       'non_english_at_home', 'education_attainment',
       'max_education_in_family', 'health_status', 'height_inches',
       'weight_pounds', 'bmi', 'health_insurance_coverage',
       'private_insurance_coverage', 'state_plan_insurance_coverage',
       'emailed_provider_past_12mo', 'internet_access',
       'covid19_diagnosed_flag', 'covid19_tested_flag'],
      dtype='object')

In [8]:
df.head(10)

,year,serial_number,sampling_strata,primary_sampling_unit,household_id,person_number,person_id,household_number,sample_person_weight,longitudinal_weight,...,height_inches,weight_pounds,bmi,health_insurance_coverage,private_insurance_coverage,state_plan_insurance_coverage,emailed_provider_past_12mo,internet_access,covid19_diagnosed_flag,covid19_tested_flag
0,2020,1,150,25,0002020H000002,1,0002020H00000210,H000002,5946.002,17605.50,...,66,230,37.1,1,2,10,NaN,NaN,1.0,1.0
1,2020,2,111,10,0002020H000003,1,0002020H00000310,H000003,6288.726,0.00,...,71,180,25.1,1,2,10,NaN,NaN,0.0,0.0
2,2020,3,133,3,0002020H000004,1,0002020H00000410,H000004,6083.271,0.00,...,64,155,26.6,1,2,10,NaN,NaN,0.0,0.0
3,2020,4,139,45,0002020H000007,1,0002020H00000710,H000007,11306.962,0.00,...,67,240,37.6,1,2,10,NaN,NaN,0.0,0.0
4,2020,5,130,21,0002020H000009,1,0002020H00000910,H000009,6471.818,19317.18,...,66,180,29.0,2,1,10,NaN,NaN,1.0,1.0
5,2020,6,131,2,0002020H000011,1,0002020H00001110,H000011,3121.049,13087.37,...,96,996,996.0,1,2,10,NaN,NaN,1.0,1.0
6,2020,7,128,27,0002020H000014,1,0002020H00001410,H000014,754.476,0.00,...,68,160,24.3,1,2,10,NaN,NaN,1.0,1.0
7,2020,8,123,22,0002020H000018,1,0002020H00001810,H000018,5120.231,0.00,...,64,160,27.5,1,1,10,NaN,NaN,0.0,0.0
8,2020,9,122,11,0002020H000019,1,0002020H00001910,H000019,2682.171,0.00,...,64,160,27.5,2,1,10,NaN,NaN,1.0,2.0
9,2020,10,149,18,0002020H000022,1,0002020H00002210,H000022,1738.221,16060.22,...,67,155,24.3,1,2,10,NaN,NaN,1.0,1.0

In [9]:
import pandas as pd
import numpy as np

In [10]:
# use partial/sample-adult if present...if not use the general weight
weight_col = "partial_sample_weight" if "partial_sample_weight" in df.columns else "sample_weight"

In [11]:
#Categorize labels

In [19]:
race_labels = {
        100: "White", 200: "Black", 300: "AIAN", 400: "Asian",
        510: "Other/Multiracial", 520: "Other", 541: "Multiracial",
        997: "Unknown-Refused", 998: "Unknown-NA", 999: "Unknown-DK"
    }

In [20]:
   df["race_grp"] = df["race"].astype("Int64").map(race_labels).fillna("Other/Unknown")

In [21]:
df[["race", "race_grp"]].head(10)

   race       race_grp
0   100          White
1   100          White
2   100          White
3   100          White
4   100          White
5   100          White
6   100          White
7   542  Other/Unknown
8   100          White
9   200          Black

In [26]:
meps2020=pd.read_stata("MEPS_2020.dta")

In [27]:
print(meps2020.shape)

(27805, 1451)

In [28]:
print(meps2020.columns)

Index(['DUID', 'PID', 'DUPERSID', 'PANEL', 'FAMID31', 'FAMID42', 'FAMID53',
       'FAMID20', 'FAMIDYR', 'CPSFAMID',
       ...
       'RXOSR20', 'RXPTR20', 'RXOTH20', 'PERWT20F', 'FAMWT20F', 'FAMWT20C',
       'SAQWT20F', 'DIABW20F', 'VARSTR', 'VARPSU'],
      dtype='object', length=1451)

In [35]:
keep = [
    "DUPERSID", #Unique Person Identifier
    "PERWT20F", #Weight         
    "INSCOV20",  #Insurance Coverage       
    "TOTEXP20", #Total Health care expenditure in 2020
    "TOTSLF20", #Total Out of Pocket expenditure in 2020
    "POVCAT20", #Family Income relative to poverty line        
    "RACEV1X", #Race
     "HISPANX",  #Hispanic
    "EDRECODE",#Education
     "EDUCYR", #Years of education completed
    "AGE20X", #age
    "SEX", #sex
    "REGION20" #region
]

In [36]:
keep = [c for c in keep if c in meps2020.columns]

In [37]:
meps2020 = meps2020[keep].copy()

In [38]:
print(meps2020.columns)

Index(['DUPERSID', 'PERWT20F', 'INSCOV20', 'TOTEXP20', 'TOTSLF20', 'POVCAT20',
       'RACEV1X', 'HISPANX', 'EDUCYR', 'AGE20X', 'SEX', 'REGION20'],
      dtype='object')

In [41]:
meps2020.head()

,DUPERSID,PERWT20F,INSCOV20,TOTEXP20,TOTSLF20,POVCAT20,RACEV1X,HISPANX,EDUCYR,AGE20X,SEX,REGION20
0,2320005101,8418.417067,2 PUBLIC ONLY,459,41,2 NEAR POOR,1 WHITE - NO OTHER RACE REPORTED,2 NOT HISPANIC,14 2 YEARS COLLEGE,73,2 FEMALE,1 NORTHEAST
1,2320005102,5199.931866,2 PUBLIC ONLY,564,50,2 NEAR POOR,1 WHITE - NO OTHER RACE REPORTED,2 NOT HISPANIC,12 GRADE 12,84,1 MALE,1 NORTHEAST
2,2320006101,2139.840017,3 UNINSURED,140,140,3 LOW INCOME,1 WHITE - NO OTHER RACE REPORTED,1 HISPANIC,12 GRADE 12,47,2 FEMALE,3 SOUTH
3,2320006102,2216.008686,3 UNINSURED,4673,0,1 POOR/NEGATIVE,1 WHITE - NO OTHER RACE REPORTED,1 HISPANIC,11,22,1 MALE,3 SOUTH
4,2320006103,4157.285889,2 PUBLIC ONLY,410,0,3 LOW INCOME,1 WHITE - NO OTHER RACE REPORTED,1 HISPANIC,11,21,1 MALE,3 SOUTH

In [42]:
meps2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27805 entries, 0 to 27804
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DUPERSID  27805 non-null  object
 1   PERWT20F  27805 non-null  float64
 2   INSCOV20  27805 non-null  category
 3   TOTEXP20  27805 non-null  int32
 4   TOTSLF20  27805 non-null  int32
 5   POVCAT20  27805 non-null  category
 6   RACEV1X   27805 non-null  category
 7   HISPANX   27805 non-null  category
 8   EDUCYR    27805 non-null  category
 9   AGE20X    27805 non-null  int8
 10  SEX       27805 non-null  category
 11  REGION20  27805 non-null  category
dtypes: category(7), float64(1), int32(2), int8(1), object(1)
memory usage: 870.7+ KB